.card-actions {
    width: 300px;
}

.custom-carousel {
    max-width: 1000px;
}

body {
    display: block;
    min-height: 100vh;
}

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}