.card-actions {
    width: 300px;
}

.custom-carousel {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
    min-height: 45vh;
}

.titel-cv {
    font-size: 30px;
    padding-top: 2vh;

}

body {
    display: block;
    min-height: 100vh;
}

.display-4 {
    padding-top: 2vh;
}

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21vh;
}

.container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 11vh;
}

.contact-titel {
    padding-top: 3vh;
    font-size: 80px;
    padding-bottom: 9vh;
}

.callout {
    background-color: rgb(235, 233, 233);
}

.carousel-inner>.carousel-item>img {
    width: 640px;
    height: 640px;
}